html.js a.form-alter-ui-throbbing {
  background:url(status-active.gif) no-repeat right center;
  padding-right:18px;
}

html.js div.form-alter-ui-active, div.form-alter-ui-active * {
  background-color: yellow;
  cursor: pointer;
}

html.js div.form-item {
  padding: 5px;
}

html.js div.form-alter-ui-link {
  background-color: pink;
  position: absolute;
  top: 10px;
  right: 20 px;
}

div.form-alter-ui-enable {
  float: right;
}